/* Your SCSS here. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.page {
    position: relative;
    background-color: rgb(234, 234, 254);
}

@mixin theme-background() {
    background-color: rgb(44, 22, 65);
    color: #f2f2f2;
}

.nav-bar {
    position: sticky;
    top: 0;
    overflow: hidden;
    @include theme-background();
    display: flex;
    justify-content: space-between;
    height: 80px;
    transition: 0.5s ease-in-out;
    align-items: center;
    padding: 10px;
    z-index: 50;
}

.nav-bar .nav-bar-title {
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 36px;
    transition: 0.5s ease-in-out;
}

.nav-bar-contents {
    display: flex;
}

.nav-bar-contents a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 26px;
    margin: 8px;
    border-radius: 0.6em;
    transition: background-color 0.5s ease-in-out,
                border-radius 0.5s ease-in-out,
                font-size 0.5s ease-in-out,
                padding 0.5s ease-in-out;
}

.nav-bar a:hover {
    background-color: rgb(140, 99, 179);
}

.scrolled {
    height: 50px;
}

.scrolled .nav-bar-contents a {
    font-size: 16px;
    padding: 10px;
}

.scrolled .nav-bar-title {
    font-size: 26px;
}

.scrolled .nav-bar-contents a:hover {
    background-color: rgb(140, 99, 179);
    border-radius: 10px;
}

.content .intro {
    font-size: 20px;
    text-align: center;
    padding: 20px 100px;
}

.content .intro b {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content .intro img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

#about {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(211, 211, 255);
    scroll-margin-top: 80px;
    padding: 30px;
}

#about p {
    font-size: 20px;
}

#about b {
    padding: 10px;
}

#projects {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    scroll-margin-top: 80px;
}

.hobbies {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;
}

.hobbies b {
    font-size: 22px;
}

.hobbies .crocheting {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.hobbies .dancing {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.hobbies .reading {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.hobbies i {
    font-size: 40px;
    color: navy;
}

#projects {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    scroll-margin-top: 80px;
    padding: 30px 200px;
}

#projects p {
    font-size: 20px;
}

#projects b {
    padding: 10px;
}

.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 40px auto;
    display: flex;
    gap: 30px;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right) {
    content: '→';
    border: none;
    background-color: navy;
    font-size: 30px;
    height: 60px;
    width: 60px;
    color: #f2f2f2;
    border-radius: 50%;
    padding-bottom: 0.1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%;
}

.carousel::scroll-button(left) {
    content: '←';
    border: none;
    background-color: navy;
    font-size: 30px;
    height: 60px;
    width: 60px;
    color: #f2f2f2;
    border-radius: 50%;
    padding-bottom: 0.1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: left center;
    translate: 50%;
}

.carousel::scroll-button(right):disabled {
    opacity: 0.5;
    cursor: auto;
}

.carousel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.carousel .card {
    scroll-snap-align: start;
    flex: 0 0 20em;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    background-color: #f7f7f7;
    font-size: 22px;
}

.carousel img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.background-img {
    background-image: url('../assets/purple-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 30vh;
}

.background-img .quote {
    font-size: 30px;
    color: white;
    text-align: center;
}

.background-img b {
    display: block;
    padding-top: 100px;
}

#experience {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(211, 211, 255);
    scroll-margin-top: 80px;
    padding: 30px;
}

.experience-contents {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.experience-contents .card {
    background-color: #f2f2f2;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

#experience p {
    font-size: 20px;
}

.experience-contents .text {
    margin-top: 20px;
}

.experience-contents video {
    padding: 10px;
}

#experience button {
    padding: 10px;
    border-style: none;
    background-color: navy;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
}

.experience-contents .modal1, .modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content1 {
    background-color: #f2f2f2;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
    width: 75%;
}

.modal-content2 {
    background-color: #f2f2f2;
    margin: 200px auto;
    padding: 20px;
    border-radius: 20px;
    width: 75%;
}

.close1, .close2 {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
  
.close1:hover, .close1:focus, .close2:hover, .close2:focus {
    color: black;
    cursor: pointer;
}

footer {
    height: 120px;
    @include theme-background();
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

footer .content {
    padding: 10px;
}

footer img {
    width: 50px;
    height: 50px;
    clip-path: circle(50%);
    margin-top: 10px;
}

