/* Your SCSS here. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.page {
    position: relative;
    height: 250vh;
    background-color: rgb(234, 234, 254);
}

.nav-bar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgb(44, 22, 65);
    display: flex;
    justify-content: space-between;
    height: 80px;
    transition: 0.5s ease-in-out;
    align-items: center;
    padding: 10px;
}

.nav-bar .nav-bar-title {
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 36px;
    transition: 0.5s ease-in-out;
}

.nav-bar-contents {
    display: flex;
}

.nav-bar-contents a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 26px;
    margin: 8px;
    border-radius: 0.6em;
    transition: background-color 0.5s ease-in-out,
                border-radius 0.5s ease-in-out,
                font-size 0.5s ease-in-out,
                padding 0.5s ease-in-out;
}

.nav-bar a:hover {
    background-color: rgb(140, 99, 179);
}

.scrolled {
    height: 50px;
}

.scrolled .nav-bar-contents a {
    font-size: 16px;
    padding: 10px;
}

.scrolled .nav-bar-title {
    font-size: 26px;
}

.scrolled .nav-bar-contents a:hover {
    background-color: rgb(140, 99, 179);
    border-radius: 10px;
}

.content .intro {
    font-size: 20px;
    text-align: center;
    padding: 20px 100px;
}

.content .intro b {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content .intro img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

#about {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(211, 211, 255);
    scroll-margin-top: 80px;
    padding: 30px;
}

#about p {
    font-size: 20px;
}

#about b {
    padding: 10px;
}

#projects {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    scroll-margin-top: 80px;
}

#contact {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(211, 211, 255);
    scroll-margin-top: 80px;
}

.hobbies {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;
}

.hobbies b {
    font-size: 22px;
}

.hobbies .crocheting {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    display: block;
    display: flex;
    flex-direction: column;
}

.hobbies:hover {

}

.hobbies .dancing {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    display: block;
    display: flex;
    flex-direction: column;
}

.hobbies .reading {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    display: block;
    display: flex;
    flex-direction: column;
}

.hobbies i {
    font-size: 40px;
    color: navy;
}

#projects {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    scroll-margin-top: 80px;
    padding: 30px;
}

#projects p {
    font-size: 20px;
}

#projects b {
    padding: 10px;
}

.carousel {
    margin: 3em auto;
    display: flex;
    gap: 1em;
}

.carousel .card {
    height: 12em;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    align-content: center;
}